body{
    padding: 0px;
    margin: 0px
}


#bossWrapper{
    margin-top:5%;
}


#boss{

}

#bossName{
    font-family: 'Ubuntu', sans-serif;
    font-size:200px;
    text-align: center;
}

#bossBarWrapper{
    	box-shadow: none;
	border-radius: 0px;
	border:2px solid black;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

#bossBar{
    width:inherit;
    height:25px;
    font-size:20px;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-appearance: textfield;
	background:white;
	padding:0px;

}

#bossHealth{
position:absolute;
    width:inherit;
    height:25px;
    font-size:18px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-appearance: textfield;
	background:red;
	color:white;
	text-align:center;
}

#uiWrapper{
    width:500px;
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
}
#battleBar{
    margin:0;
    margin-top:20px;
    padding:0;
}
.battleBar{
    display:inline-block;
}
#divide{
 margin-left:0;
 margin-bottom:10;
 float:left;
}

#playerHealthWrapper{
    width:150px;
    padding:0px;
    padding-top:22px;
    padding-bottom:13px;
    background:red;
    margin-top:15px;
    margin-left:0px;
    border-top:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    z-index:-100;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}
#playerHealth
{
    margin-left:10px;
    color:white;
    font-size:16px;
    text-align:center;
}


spell{
    position:relative;
    bottom:20px;
    font-size:20px;
    clear:left;
    float:left;
}

#controller{
    float:left;
    margin-top:15px;
	height:60px;
	width:300px;
	font-size:20px;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-appearance: textfield;
	background:white;
	padding:0px;
	box-shadow: none;
	border:none;
	border-radius: 0px;
	border:2px solid black;
	border-right:0px;
}