body{
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}


#bossWrapper{
    margin-top:5%;
}

#bossName{
    font-family: 'Ubuntu', sans-serif;
    font-size:200px;
    text-align: center;
}

#bossHealthWrapper{
	border:2px solid black;
	width:80%;
	margin-right:auto;
	margin-left:auto;
	height:25px;
	margin-bottom:10px;
}

#bossHealth, #playerHealth{
	font-size:20px;
    font-weight:600;
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
}


#bossHealthBar{
    position:absolute;
    width:inherit;
    height:25px;
	background:red;
	text-align:center;
	line-height:150%;
	z-index:-100;
}


#bossCastWrapper{
	border:2px solid black;
	width:40%;
	margin-right:auto;
	margin-left:auto;
	height:25px;
	
}

#bossSpell{
	font-size:18px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align:center;
}

#bossCastBar{
    position:absolute;
    width:inherit;
    height:25px;
	background:#0099CC;
	text-align:center;
	line-height:150%;
	z-index:-100;
}


#battleLogWrapper{
    border:2px solid black;
    height:15%;
    width:500px;
    margin-top:3%;
    margin-left:auto;
    margin-right:auto;
    overflow-y: scroll;
}
#battleLog{
    padding-top:5px;
    padding-left:2%;
    padding-bottom:5px;
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
}
 .playerLog{
     margin-top:1%;
     color:#004B81;
 }
 .bossLog{
     margin-top:1%;
     color:#810000;
 }
 .errorLog{
     margin-top:1%;
     color:#7C7C7C;
 }


#playerWrapper{
    width:500px;
    margin-left:auto;
    margin-right:auto;
}
#battleBar{
    margin:0;
    margin-top:20px;
    padding:0;
}
.battleBar{
    display:inline-block;
}
#divide{
 margin-left:0;
 margin-bottom:10;
 float:left;
}

#playerHealthBar{
    width:195px;
    padding:0px;
    padding-top:22px;
    padding-bottom:10px;
    background:red;
    margin-top:15px;
    margin-left:0px;
    border-top:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    z-index:-100;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

#errorList{
    position:absolute;
    margin-top:5px;
    float:left;
    clear:left;
}

#weaponQueue{
    width:500px;
    margin-top:4%;
    position:relative;
    bottom:20px;
    font-size:15px;
    clear:left;
    float:left;
    font-weight:700;
}

.weapon{
    border:1px solid black;
    text-align:center;
    padding:3px;
    padding-top:5px;
    padding-bottom:5px;
    width:31%;
    background:#41B3B5;
    display:inline-block;
}

#controller{
    float:left;
    margin-top:15px;
	height:60px;
	width:300px;
	font-size:20px;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-appearance: textfield;
	background:white;
	padding:0px;
	padding-left:10px;
	box-shadow: none;
	border:none;
	border-radius: 0px;
	border:2px solid black;
	border-right:0px;
}



/* Scrollbars */

::-webkit-scrollbar {  
    width: 8px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #1F1F1F;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  